*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url('images/Contact.png') no-repeat;
    background-size: cover;
}
.contact{
    width:1000px;
    top: 10px;
    left: 20px;

    position: relative;
    color: azure;
    
}
.contact p{
    font-size: 20px;
    margin: 15px 0;
}