*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url('images/donate.png') no-repeat;
    background-size: cover;
}
.donate{
    width:350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: floralwhite;
    
}
.donate h1 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}
.donate p{
    font-size: 20px;
    margin: 15px 0;
}
.donate input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px; 
}

.donate button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 5px;
    position: static;
    border-radius: 5px;
    border: 0;
}
.donate li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: inherit;
}
.donate li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
.fa{
    color: aliceblue;   
    }